<page-heading title="Transactions"></page-heading>

<div class="page-content">
  <transaction *ngFor="let transaction of transactions$ | async" [transaction]="transaction">
    {{ transaction.transactionId }} - {{ transaction.amount }}
  </transaction>

  <div class="text-center" *ngIf="canLoadMore$ | async">
    <button (click)="loadMore()" color="accent" mat-flat-button>Load More</button>
  </div>

  <div *ngIf="(transactions$ | async) && !(transactions$ | async).length" class="text-center">
    <div>
      <img src="../../../assets/svg/waiting.svg">
    </div>

    You have no previous transactions yet.
  </div>

  <div class="text-center no-more-transactions" *ngIf="!(canLoadMore$ | async)">
    There are no more previous transactions.

    <div>
      <button routerLink="/dashboard" color="accent" mat-flat-button>Back to Dashboard</button>
    </div>
  </div>
</div>

<spinner [text]="'Gathering Transactions...'" name="spinner"></spinner>
