@import '../../../theme.styl'

footer
  position fixed
  bottom 0
  left 0
  right 0
  padding 4px
  background-color primary-light
  color dark-grey
  font-size 13px
  display flex
  flex 1
  flex-direction row
  justify-content center


  fa-icon
    cursor pointer
    font-size 20px

  .developer
    margin-left 8px

