mat-form-field
  width 100%

.signup-complete-panel
  text-align center

  .signup-complete-icon
    font-size 24px
    color green

  h1
    margin-top 20px

  img
    max-width 400px
    margin-top 40px

  button
    margin-top 60px
    align-self center
