<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="brand-name">
      <span>{{ brandName }}</span>
    </div>
    <navigation></navigation>
  </mat-drawer>

  <div class="header">
    <fa-icon [icon]="navIcon" class="nav-icon" (click)="drawer.toggle()" *ngIf="!drawer.opened"></fa-icon>
    <fa-icon [icon]="closeNavIcon" class="nav-icon" (click)="drawer.toggle()" *ngIf="drawer.opened"></fa-icon>
    <fa-icon [icon]="signOutIcon" class="nav-icon logout" (click)="signOut()" *ngIf="isLoggedIn()"></fa-icon>

    <span class="account-balance">€{{ accountBalance() }}</span>
  </div>

  <div class="content container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
