@import '../theme.styl'

.app-container
  height 100%

  &.show-background-svg
    background-image: url('../assets/svg/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  .header
    border-bottom 1px solid rgba(0, 0, 0, 0.12)
    padding 10px
    background-color primary

    .nav-icon
      font-size: 22px
      cursor pointer
      color white

      &.logout
        position absolute
        right 10px

  .content
    padding 20px

  .sidenav
    padding 20px
    width: 200px
    background-color primary

    .brand-name
      position relative
      top 0
      padding 10px
      font-weight 600
      font-size 22px
      margin-bottom 20px
      color white

  .account-balance
    color white
    font-size 20px
    position absolute
    right 100px
    top 4px
    padding 8px 14px
    border-radius 2px
    background-color primary-dark
    cursor pointer
    transition background-color 0.4s

    &:hover
      background-color #273691

  .brand-name
    color white
    font-weight bold
