.error-text
  margin-top 10px

button
  margin-top 20px

img
  max-width 400px
  margin-top 40px

.icon-container
  margin-bottom 20px

  .withdraw-complete-icon
    font-size 24px
    color green

.no-more-withdrawals
  margin-top 30px

.refresh-btn
  margin-top 30px
