<page-heading title="Withdraw"></page-heading>

<form [formGroup]="withdrawForm" *ngIf="!(withdrawComplete$ | async)" class="page-content">
  <div class="form-row">
    <mat-form-field class="full-width">
      <mat-label>Withdrawal Amount</mat-label>
      <input type="number" id="amount" formControlName="amount" step="0.01" value="10" matInput>
    </mat-form-field>

    <p class="error-text" *ngIf="amountErrors">{{ amountErrors }}</p>
  </div>

  <div class="text-right">
    <button color="accent" (click)="submit()" mat-flat-button>Withdraw Money</button>
  </div>
</form>

<div *ngIf="withdrawComplete$ | async" class="text-center">
  <div class="icon-container">
    <fa-icon [icon]="withdrawCompleteIcon" class="withdraw-complete-icon"></fa-icon>
  </div>
  <p>Your withdrawal has been processed.</p>
  <p>The amount will be sent to your bank account.</p>
  <div>
    <img src="../../../assets/svg/withdraw.svg">
  </div>
</div>

<spinner [text]="'Withdrawing Funds...'" name="spinner"></spinner>
