<div class="view-profile" *ngIf="profile">
  <button class="edit-profile-btn" color="accent" *ngIf="isMyProfile" [routerLink]="[ '/profile/edit' ]" mat-stroked-button>
    Edit Profile <fa-icon [icon]="editIcon"></fa-icon>
  </button>

  <div class="avatar-container">
    <label title="Click to upload a new image">
      <div class="img-wrapper" [style.background-image]="avatar">
      </div>
      <input type="file" accept="image/*" (change)="imageSelected($event)" hidden #imageField>
    </label>
    <div class="balance" *ngIf="isMyProfile && myProfile().accountBalance" (click)="moneyOptions()">
      {{ myProfile().accountBalance | money }}
    </div>
  </div>

  <div class="info-container" *ngIf="isMyProfile">
    <label>Email Address</label>
    <p class="info">{{ myProfile().email }}</p>
  </div>

  <mat-divider></mat-divider>

  <div class="info-container">
    <label>First Name</label>
    <p class="info">{{ profile.firstName }}</p>
  </div>

  <mat-divider></mat-divider>

  <div class="info-container">
    <label>Last Name</label>
    <p class="info">{{ profile.lastName }}</p>
  </div>

  <mat-divider></mat-divider>

  <div class="info-container">
    <label>Signed Up</label>
    <p class="info">{{ profile.times.createdAt | timeSince }}</p>
  </div>
</div>

