@import '../../../theme.styl'

.custom-card
  .withdraw-text
    flex 6
    display flex
    flex-direction row
    justify-content flex-end

    .time
      font-size 14px
      color upper-mid-grey !important
      margin 0

  .withdraw-amount
    flex 2
    flex-direction row
    align-items center
    display flex

    .amount-detail
      margin-left 10px
