/* You can add global styles to this file, and also import other style files */
@import './theme.styl'

p
  color primary-text !important

.move-down
  margin-top 10px

.full-width
  width 100%

.error-text
  color red !important

.clickable-text
  cursor pointer
  color accent

.page-content
  background-color white
  padding 20px
  border 1px solid #EEE

.alternative-link-container
  margin-top 40px
  .alternative-link
    color accent
