primary = #3f51b5
primary-dark = #303F9F
primary-light = #C5CAE9
accent = #ff4081

primary-text = #212121
secondary-text = #757575
divider = #BDBDBD

very-dark-grey = #222
dark-grey = #555
upper-mid-grey = #888
mid-grey = #AAA
light-grey = #CCC
lighter-grey = #DDD
lightest-grey = #EEE
