@import '../../../theme.styl'

.top-row
  display flex
  flex 1

  .balance-section
    display flex
    flex 1
    flex-direction column
    background-color lightest-grey
    margin-right 10px

    .balance-text-container
      display flex
      flex 3
      justify-content center

      .balance-text
        font-size 34px
        align-self center
        cursor pointer

    div
      text-align right

  .graph-section
    flex 2
    border 1px solid #EEE

.transactions-title
  display flex

  h2
    flex 1

  button
      align-self flex-end

.section
  padding 20px

.divider
  margin 40px 0 0 0
